nogit/
.Rproj.user/
*.Rproj
.Rhistory
cache/
*.Rtex
*.css
includeCSS.R
*.pdf
!papers/*.pdf
*.bcf
framed.sty
*.synctex.gz
*.run.xml
*\-concordance.tex
*.blg
pkg/
ReadPDFex/
ReadPDFex2/
*.html
*.png
*.md
RefManageR.Rcheck/
*~